{% extends "incidents/layout.html" %}

{% block body %}
    <h2>Login</h2>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="login">
    </form>

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

    <a href="{% url 'register' %}">Register</a>
{% endblock %}